<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.bjpowernode.controller" />


    <!--视图解析器-->
<!--    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
<!--        &lt;!&ndash;路径&ndash;&gt;-->
<!--        <property name="prefix" value="/WEB-INF/view/" />-->
<!--        &lt;!&ndash;扩展名&ndash;&gt;-->
<!--        <property name="suffix" value=".jsp" />-->
<!--    </bean>-->

    <!--json数据处理-->
    <mvc:annotation-driven />

    <!--使用/时，资源调用全部给中央调度器，中央调度器没有处理静态资源的能力，使用这个标签再转发给tomcat，由tomcat的default处理-->
<!--    <mvc:default-servlet-handler />-->
</beans>